<div id="users-container" class="row">
    <h2>Users</h2>
    <div class="col-md-3">
        <div class="users-list">
            <ul>
                {{#each user in this}}
                    <li>
                        {{user-object size=40 user=user}}
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
    {{outlet}}
</div>