<div class="col-md-10">
    <div class="panel-heading">
        <span class="text-capitalize">{{username}}</span>
    </div>
    <div class="panel-body">
        Username: {{username}}
        Maps: {{maps}}
    </div>
</div>